<section id="filosofia">
  <section class="bg-secondary min-h-screen py-8 flex">
    <div class="grid grid-cols-1 gap-4 max-w-5xl mx-auto">
      <div class="text-3xl font-special text-center mb-8 text-amber-50">
        ¿Quienes somos?
      </div>
      <div class="text-secondary2 text-lg text-justify p-2">
        Hace más de 10 años, en la ciudad de Altamirano, Guerrero, todo comenzó
        con una necesidad. Buscábamos una forma de salir adelante y brindar a
        nuestra comunidad comida deliciosa y accesible. Con solo una pequeña
        parrilla y muchas ganas de trabajar, empezamos vendiendo hamburguesas y
        hot dogs en una modesta esquina. Lo que comenzó como un simple sustento
        pronto se convirtió en nuestra pasión. Con esfuerzo, dedicación y el
        apoyo de nuestros clientes, fuimos creciendo. Ampliamos nuestro menú,
        agregando tacos, enchiladas, tortas, sincronizadas y mucho más. Cada
        platillo lo preparamos con cariño, sabiendo que la mejor recompensa es
        ver a la gente disfrutar de nuestra comida. Hoy, seguimos con el mismo
        compromiso que nos vio nacer: ofrecer sabor, calidad y un servicio que
        haga sentir a cada cliente como en casa. Gracias por ser parte de esta
        historia, porque sin ustedes, nada de esto sería posible. ¡Bienvenidos a
        nuestro rincón de sabor en Altamirano!
      </div>
      <div class="justify-center flex"><img src="/public/img/dibujo.png" alt="dibujo hamburguesa" ></div>
    </div>
  </section>
</section>
