<section class="bg-amber-50 min-h-screen py-8">
  <div class="grid grid-cols-5 grid-rows-5 gap-4 max-w-5xl mx-auto">
    <div class="col-span-4 row-span-3 rounded-2xl bg-amber-200 overflow-hidden">
        <img src="/public/img/hamburguer.jpg" alt="imagen de hamburguesa">
    </div>
    <div class="row-span-2 col-start-5 rounded-2xl bg-amber-300 text-3xl text-center font-black
    justify-center items-center h-full flex"><span class="-rotate-3 flex flex-col relative overflow-hidden">Promocion en Hotdogs</span></div>
    <div class="font-special row-span-2 col-start-5 row-start-3 rounded-2xl bg-amber-500 ">
      Promociones
    </div>
    <div class="col-span-2 row-start-4 rounded-2xl bg-amber-700 ">
      <a href="/#Ubicacion">Ubicanos
      </a>
    </div>
    <div class="col-span-2 col-start-3 row-start-4 rounded-2xl bg-amber-950">
      5
    </div>
  </div>
</section>
