<section id="Menu">
  <section class="bg-secondary min-h-screen py-8 flex">
    <div class="grid grid-cols-1 gap-4 max-w-5xl mx-auto">
      <!-- T칤tulo: Cont치ctanos -->
      <div class="text-3xl font-special text-center mb-8 text-amber-50">Menu</div>
      <div class="grid grid-cols-2 gap-4">
      <div class="max-w-sm rounded-2xl overflow-hidden shadow-lg bg-secondary2 transition-transform duration-300 transform hover:scale-104">
        <img
          class="w-full"
          src="/public/img/hamburguer2.webp"
          alt="Hamburguesa Cl치sica"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">游꼢 Hamburguesa Cl치sica</div>
          <p class="text-gray-700 text-base">
            Jugosa carne a la parrilla, queso derretido, lechuga, tomate y aderezo especial en pan dorado.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2 text-center">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            90$
          </span>
        </div>
      </div>
      
      <!-- Card 2 -->
      <div class="max-w-sm rounded-2xl overflow-hidden shadow-lg bg-secondary2 transition-transform duration-300 transform hover:scale-104">
        <img
          class="w-full"
          src="/public/img/hotdog.webp"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">游꺐 Hot Dog Americano</div>
          <p class="text-gray-700 text-base">
            Salchicha asada en pan suave, con mostaza, ketchup y cebolla crujiente.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2 text-center">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >35$</span
          >

        </div>
      </div>
      <!-- Card 2 -->
      <div class="max-w-sm rounded-2xl overflow-hidden shadow-lg bg-secondary2 transition-transform duration-300 transform hover:scale-104">
        <img
          class="w-full"
          src="/public/img/enchiladas.jpg"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">游 Enchiladas Verdes</div>
          <p class="text-gray-700 text-base">
            Tortillas rellenas de pollo, ba침adas en salsa verde, gratinadas con queso y crema.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2 text-center">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >70$</span
          >

        </div>
      </div>
      <!-- Card 2 -->
      <div class="max-w-sm rounded-2xl overflow-hidden shadow-lg bg-secondary2 transition-transform duration-300 transform hover:scale-104">
        <img
          class="w-full"
          src="/public/img/Torta.jpg"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">游볽 Torta de Pollo</div>
          <p class="text-gray-700 text-base">
            Pechuga de pollo dorada, aguacate, frijoles y mayonesa en pan crujiente.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2 text-center">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >70$</span
          >

        </div>
      </div>
    </div>
  </div>

  </section>
</section>
