<section id="ordenar">
  <section class="bg-amber-50 min-h-4 py-8 flex">
    <div class="grid grid-cols-1 gap-4 max-w-5xl mx-auto">
      <!-- Título: Contáctanos -->
      <div class="text-3xl font-special text-center mb-4 text-secondary">
        ¡Contáctanos!
      </div>

      <!-- Contenedor de las redes sociales -->
      <div class="grid grid-cols-2 gap-4">
        <div class="flex items-center space-x-4 p-2">
          <!-- WhatsApp -->
          <img src="/public/img/wapp.png" alt="WhatsApp" class="w-8 h-8" />
          <a
            href="https://wa.me/524351218024?text=Hola%2C%20estoy%20interesado%20en%20tus%20servicios%21"
            target="_blank"
          >
            <span class="font-special"
              >WhatsApp - <span class="underline">+52 4351218024</span></span
            >
          </a>
        </div>

        <div class="flex items-center space-x-4">
          <!-- FaceBook -->
          <img src="/public/img/fb.png" alt="Facebook" class="w-8 h-8" />
          <span class="font-special">FaceBook - HamburguesasBob</span>
        </div>
      </div>
    </div>
  </section>
</section>
