<section id="Ordenar">
  <div class="bg-amber-50 min-h-screen py-8 flex">


    <div class="grid grid-cols-2 grid-rows-2 gap-4 max-w-5xl mx-auto">
        <div class="col-span-2 font-special">Contactanos!</div>
        <div class="col-span-2 row-start-2"></div>
    </div>
        
        
  </div>
</section>
