<section id="ubicacion" class="flex justify-center bg-amber-50">
  <section class="bg-amber-50 min-h-4 py-8 flex">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3786.612225484312!2d-100.672687!3d18.364967!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84332c53244f28d9%3A0xa6633f64f50c7293!2sGral.%20Emiliano%20Zapata%20109%2C%20El%20Progreso%2C%2040665%20Cdad.%20Altamirano%2C%20Gro.!5e0!3m2!1sen!2smx!4v1741500593122!5m2!1sen!2smx"
      width="400"
      height="300"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</section>
