<section id="Ubicacion" class="flex justify-center">
    <div class="relative pb-[36.25%] h-0 overflow-hidden  max-w-[600px] max-h-[450px] w-full p-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2251.5367446732284!2d-100.6731973967636!3d18.364687629596474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84332c53244f28d9%3A0xa6633f64f50c7293!2sGral.%20Emiliano%20Zapata%20109%2C%20El%20Progreso%2C%2040665%20Cdad.%20Altamirano%2C%20Gro.!5e0!3m2!1sen!2smx!4v1741475975091!5m2!1sen!2smx" 
        class="absolute top-0 left-0 w-full h-full" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
